/images/.old_png_badges
/images/.old_server_icons
package-lock.json
node_modules
.vscode
TODO.md
.idea
.pipenv
.venv
__pycache__/
*.py[cod]
*$py.class
*.cuda-proj

# MacOS
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
